body, html {
  height: 100%;
  background-color: #1D3557;
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-li {
  float: left;
  display: inline;
  background-color: #A8DADC;
  color: #A8DADC;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.login-left {
  float: left;
}

.login-right {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  float: right;
  background-color: #F1FAEE;
  margin: 2%;
  padding: 2%;
  height: 75%;
  min-width: calc( 30vw );
  min-height: calc( 80vh );
}

.login-textfield {
  flex-basis: auto;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.main-title {
  padding-top: 25vh;
  padding-left: 5vw;
  float: left;
  color: #A8DADC;
}
.login-title {
  text-align:center;
  padding: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  color: #1D3557;
}
.login-fields {
  width: 90%;
  margin: 1vh;
}
.login-mini-text {
  margin: 2vh;
  justify-content: space-between;
  display: flex;
}

.login-bottom-text {
  float: left;
  position: absolute;
  padding-top: 90vh;
  padding-left: 2vw;
}

.trademark-mini-text {
  padding-top: 5%;
  text-align: center;
  font-size: 14px;
  line-height: 29px;
  color: #6B6B6B;
  mix-blend-mode: normal;
}

.dashboard-header-title {
  color: #F1FAEE;
}

.dashboard-nav-bar {
  margin-left: 150px;
  overflow: hidden;
  background-color: #F1FAEE;
  position: fixed;
  top: auto; 
  width: 100%; 
}

.dashboard-nav-bar h1 {
  float: left;
  display: block;
  color: #1D3557;
  text-align: center;
  padding: 7px 35px;
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed; 
  z-index: 1;
  top: auto;
  left: auto;
  background-color: #F1FAEE;
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #1D3557;
  display: block;
}

.sidenav a:hover {
  color: #FFA62B;
}

.logout-button {
  position: absolute;
  bottom: 12vh;
  left: 10px
}

.dashboardcomp{
  background-color:  #1D3557;
  width: calc( 100% - 151px );
  left: 151px;
  top: 19vh;
  height: 81vh;
  position: absolute;
  overflow: scroll;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-download {
	background-color:#FFA62B;
  border: #FFA62B;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:10px 30px;
  margin: 5px;
	text-decoration:none;
}

td{
  color: white;
  border: 1px solid #FFA62B;
}

tr{
  color: #FFA62B;
}

.register-background{
  flex-direction: column;
  display: flex;
  align-items: center;
  background-color: white;
}