body {
  background-color: #1D3557;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  display: inline;
  background-color: #A8DADC;
  color: #A8DADC;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#loginPane {
  float: right;
  height: 700px;
  width: 500px;
  margin: 2%;
  background-color: aliceblue;
}

h1 {
  float: left;
  color: #A8DADC;
}



