body, html {
  height: 100%;
  background-color: #1D3557;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  display: inline;
  background-color: #A8DADC;
  color: #A8DADC;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.login-left {
  float: left;
}

.login-right {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  float: right;
  background-color: #F1FAEE;
  margin: 2%;
  padding: 2%;
  height: 75%;
  min-width: calc( 30vw );
  min-height: calc( 80vh );
}

.login-textfield {
  flex-basis: auto;
}

.container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.main-title {
  padding-top: 25vh;
  padding-left: 5vw;
  float: left;
  color: #A8DADC;
}
.login-title {
  text-align:center;
  padding: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  color: #1D3557;
}
.login-fields {
  width: 90%;
  margin: 1vh;
}
.login-mini-text {
  margin: 2vh;
  justify-content: space-between;
  display: flex;
}

.login-bottom-text {
  float: left;
  position: absolute;
  padding-top: 90vh;
  padding-left: 2vw;
}

.trademark-mini-text {
  padding-top: 5%;
  text-align: center;
  font-size: 14px;
  line-height: 29px;
  color: #6B6B6B;
  mix-blend-mode: normal;
}